<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="editar-operacion-component">
  <template>
    <style>
      :host {
        display: block;
      }

      .container {
        position: relative;
        height: auto;
        margin: 10px;
        background-color: #fff;
        color: gray;
        padding: 20px;
        display: inline-block;
        width: 95%;
      }
      
      .row {
        display: inline-block;
        width: 100%;
        height: auto;
        margin-bottom: 10px;
      }

      .title{
        text-align: center;
      }

      .div-label {
        display:inline-block;
        width:100%;
        margin-left: 100px;
        margin-bottom: 5px; 
        text-align: justify;
      }

      .col-1{
        position: relative;
        display: inline-block;
        width: 30%;
        text-align: left;
        margin-left: 20px;
        margin-top: 10px;
      }

      .col-2{
        position: relative;
        display: inline-block;
        width: 15%;
        text-align: left;
        margin-left: 2%;
        margin-top: 10px; 
      }

      .div-text {
        display:inline-block; 
        width:100%;
        margin-left: 100px; 
      }

      .txt-box-small{
        width: 70%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }

      .btn{
        display: inline-block;
        border: 2px solid #08948e;
        border-radius: 10px; 
        color: #08948e;
        font-size: 14px;
        padding: 0.5rem 2rem;
        cursor: pointer;
        text-decoration: none;
        width: 70%;
        text-align: center;
      }

      .btn:hover{
        background: #3a98a28c;
        color: #fff;
        cursor: pointer;
      }
    </style>
    <!--Start My Component-->
    <div class="container">
        <h2 class="title">EDITAR OPERACION</h2>
        <hr>

        <div class="row">
          <div class="col-1">
            <div class="div-label">
              <label for=""><strong>ID:</strong></label>
              <label for="">1</label>
            </div>
          </div>

          <div class="col-1">
            <div class="div-label">
              <label for=""><strong>TIPO DE SERVICIO:</strong></label>
              <label for="">STAFING</label>
            </div>
          </div>

          <div class="col-1">
            <div class="div-label">
              <label for=""><strong>ITERCOMPAÑIA:</strong></label>
              <label for="">COMPAÑIA</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-1">
            <div class="div-label">
              <label for=""><strong>NOMBRE:</strong></label>
              <label for="">LUIS MIGUEL</label>
            </div>
          </div>

          <div class="col-1">
            <div class="div-label">
              <label for=""><strong>UNIDAD DE NEGOCIO:</strong></label>
              <label for="">UNE 1</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-1">
            <div class="div-label">
              <label for=""><strong>ESTATUS:</strong></label>
              <label for="">ACTIVO</label>
            </div>
          </div>

        <div class="col-1">
            <div class="div-label">
              <label for=""><strong>EMPRESA:</strong></label>
              <label for="">DIGITAL EXPERIENCE</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-1">
            <div class="div-label">
              <label for=""><strong>CLIENTE DE FACTURACIÓN:</strong></label>
              <label for="">INDRA SA DE CV</label>
            </div>
          </div>
  
          <div class="col-1">
              <div class="div-label">
                <label for=""><strong>CUENTA:</strong></label>
                <label for="">SANTANDER</label>
              </div>
            </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-1">
            <div class="div-label">
              <label for=""><strong>HORAS ESTIMADAS:</strong></label>
              <label for="">160</label>
            </div>
          </div>

          <div class="col-1">
            <div class="div-label">
              <label for=""><strong>INGRESO PRESUPUESTADO:</strong></label>
              <label for="">99,200.00</label>
            </div>
          </div>

          <div class="col-1">
            <div class="div-label">
              <label for=""><strong>COSTO DE VENTAS ESTIMADAS:</strong></label>
              <label for="">20,000.00</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-1">
            <div class="div-label">
              <label for=""><strong>TARIFA/HORA:</strong></label>
              <label for="">620</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-1">
            <div class="div-label">
              <label for="">Horas Reales:</label>
            </div>

            <div class="div-text">
              <input type="text" class="txt-box-small">
            </div>
          </div>

          <div class="col-1">
            
          </div>

          <div class="col-1">
            <div class="div-label">
              <label for=""><strong>Diferencia Horas:</strong></label>
              <label for="">60</label>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-1">
            <div class="div-label">
              <label for="">No. Factura:</label>
            </div>
  
            <div class="div-text">
              <input type="text" class="txt-box-small">
            </div>
          </div>

          <div class="col-1">
            <div class="div-label">
              <label for="">Estatus Factura:</label>
            </div>
    
            <div class="div-text">
              <input type="text" class="txt-box-small">
            </div>
          </div>

          <div class="col-1">
            <div class="div-label">
              <label for=""><strong>Diferencia Ingreso:</strong></label>
              <label for="">$ 97,967.00</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-1">
            <div class="div-label">
              <label for="">Mes de Facturación:</label>
            </div>
    
            <div class="div-text">
              <select class="txt-box-small">
                <option value="">ENERO</option>
                <option value="">FEBRERO</option>
                <option value="">MARZO</option>
                <option value="">ABRIL</option>
                <option value="">MAYO</option>
                <option value="">JUNIO</option>
                <option value="">JULIO</option>
                <option value="">AGOSTO</option>
                <option value="">SEPTIEMBRE</option>
                <option value="">OCTUBRE</option>
                <option value="">NOVIEMBRE</option>
                <option value="">DICIEMBRE</option>
              </select>
            </div>
          </div>
  
          <div class="col-1">
            <div class="div-label">
              <label for="">Fecha de Facturación:</label>
            </div>
      
            <div class="div-text">
              <input type="text" class="txt-box-small">
            </div>
          </div>

          <div class="col-1">
            <div class="div-label">
              <label for=""><strong>Utilidad Bruta Real:</strong></label>
              <label for="" style="color:red;">$ 1,292.00</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-1">
            <div class="div-label">
              <label for="">Ingreso Real:</label>
            </div>
      
            <div class="div-text">
              <input type="text" class="txt-box-small">
            </div>
          </div>
    
          <div class="col-1">
            <div class="div-label">
              <label for="">Costo de Venta Real:</label>
            </div>
        
            <div class="div-text">
              <input type="text" class="txt-box-small">
            </div>
          </div>

          <div class="col-1">
            <div class="div-label">
              <label for=""><strong>Porcentaje Real:</strong></label>
              <label for="">-51.17%</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-2">
            <div class="div-label">
              <a href="#" class="btn">Buscar</a>
            </div>
          </div>
  
          <div class="col-2">
            <div class="div-label">
              <a href="#" class="btn">Agregar</a>
            </div>
          </div> 
        </div>

    </div>
    <!--End My Component-->
  </template>

  <script>
    /**
     * `editar-operacion-component`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class EditarOperacionComponent extends Polymer.Element {
      static get is() { return 'editar-operacion-component'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'editar-operacion-component'
          }
        };
      }
    }

    window.customElements.define(EditarOperacionComponent.is, EditarOperacionComponent);
  </script>
</dom-module>
